*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Manjari', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f6f9;
}

a, button {
    font-family: 'Poppins', sans-serif; 
}

/* Header Styles */
nav {
    position:fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Inter', sans-serif;
    padding: 0 5%;
    height: 65px;
    background-color:white;
}

nav .logo {
    position: relative;
    float: left;
    left: 40px;
    width: 40%;
    height: 120%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
    color: #FF300A;  
}

nav .logo a{
    text-decoration: none;
    color: #FF300A
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 0.5em;
    font-size: 16px;
    color: #090E36;
    text-decoration: none;
}

.iniciarsesion {
    text-align: center;
    position:static;
    line-height: 25px;
    width: 125px;
    height: 40px;
    left: 995px;
    top: 52px;
    background-color: rgba(9, 14, 54, 0.082);
    border-radius: 30px;
}

.iniciarsesion:hover {
    background-color: rgba(9, 14, 54, 0.05);
    transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s)
}

.registrarse {
    text-align:center;
    line-height: 25px;
    position:static;
    width: 125px;
    height: 40px;
    left: 995px;
    top: 52px;
    color: beige;
    background-color:rgba(9, 14, 54, 0.2);
    border-radius: 30px;
}

.registrarse:hover {
    background-color: rgba(9, 14, 54, 0.05);
    transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s)
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #FF300A;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color:rgba(9, 14, 54, 0.05);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    nav :checked ~ .links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}


.container {
    padding: 10rem 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.main-title__title {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main-title__text {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: repeat(2, 360px);
    gap: 2rem;
    padding: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-top: 5px solid #FF300A;
    border-radius: 10px;
    background-color: white;
}

.card__title {
    font-size: 20px;
}

.card__text-container {
    padding: 1.5rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.card__text {
    font-size: 1.3rem;
    color: #777;
}

.btn {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 0;
    border-style: none;
    outline: 1.3px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: white;
}

.btn:hover {
    background-color: #d7d7d9;
}

.card__icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-list {
    background-image: url(/src/icons/listing.png);
}

.icon-hat {
    background-image: url(/src/icons/graduation-cap.png);
}

.icon-youtube {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(/src/icons/youtube.png);
}

.icon-certificate {
    background-image: url(/src/icons/certificate.png);
}

.main__btn {
    font-size: 1.8rem;
    font-weight: 700;    
    text-transform: uppercase;
    padding: 2rem 5rem;
    border-style: none;
    border-radius: 10px;
    color: white;
    background-color: #FF300A;
}

.main__btn:hover {
    color: white;
    background-color: #a52f00;
}