*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Manjari', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f6f9;
}

/* Header Styles */
nav {
    position:fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 65px;
    background-color:white;
}

nav .logo {
    position: relative;
    float: left;
    left: 40px;
    width: 40%;
    height: 120%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
    color: #FF300A;  
}

nav .logo a{
    text-decoration: none;
    color: #FF300A
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 0.5em;
    font-size: 16px;
    color: #090E36;
    text-decoration: none;
}

.iniciarsesion {
    text-align: center;
    position:static;
    line-height: 25px;
    width: 125px;
    height: 40px;
    left: 995px;
    top: 52px;
    background-color: rgba(9, 14, 54, 0.082);
    border-radius: 30px;
}

.iniciarsesion:hover {
    background-color: rgba(9, 14, 54, 0.05);
    transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s)
}

.registrarse {
    text-align:center;
    line-height: 25px;
    position:static;
    width: 125px;
    height: 40px;
    left: 995px;
    top: 52px;
    color: beige;
    background-color:rgba(9, 14, 54, 0.2);
    border-radius: 30px;
}

.registrarse:hover {
    background-color: rgba(9, 14, 54, 0.05);
    transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s)
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #FF300A;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color:rgba(9, 14, 54, 0.05);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    nav :checked ~ .links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

/* Main */
main {
    padding: 70px 0 100px;
}

.title {
    font-size: 2.4rem;
    width: 950px;
    margin: 3rem auto .5rem;
    color: #515164;
}

.title__quantity {
    font-size: 1.2rem;
    margin-left: 10px;
    color: #9C9CAC;
}

.text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    width: 80%;
    color: #9C9CAC;
}


/* Card Styles */
.card {
    display: grid;
    grid-template-columns: 1fr 360px 350px;
    gap: 3rem;
    width: 950px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 3rem;
    background-color: white;
}

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
} 

.col-1 img {
    width: 80%;
    border-radius: 50px;
}

.col-1 span {
    padding: .2rem 1rem;
    border-radius: 30px;
    color: white;
    background-color:rgb(50, 203, 202);
}

.col-1 a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem 1.7rem;
    border-radius: 50px;
    text-decoration: none;
    border-style: none;
    color: white;
    background-color: #FF300A;
}

.col-1 a:hover {
    opacity: .8;
}

/* col-2 */
.col-2-grid {
    display: grid;
    grid-template-columns: auto 30px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.col-2 h5 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #9C9CAC;
}

.col-2 h4 {
    font-size: 1.4rem;
    color: #313140;
}

.col-2 .teacher-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 1rem;
}

.col-2 .teacher-info h2 {
    font-size: 2.4rem;
    font-weight: medium;
}

.col-2 .teacher-info p {
    font-family: 'Manjari', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-style: italic;
    color: #9C9CAC;
}

.col-2 .divider {
    width: 16px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 1rem;
    background-color: red;
}

.col-2 .idiomas {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.col-2 .lang-title {
    margin-bottom: .3rem;
}

.col-2 .lang {
    display: flex;
}

.col-2 .niveles {
    display: flex;
    align-items: center;
    gap: .3rem;
    margin: 0 1.5rem 0 .5rem;
}

.col-2 .level {
    width: 2px;
    height: 10px;
    border-radius: 1px;
    background-color: red;
}

.col-2 .costos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

/* Like */
#container {
    width: 30px;
}

.heart-like-button {
    position: relative;
    width: 32px;
    height: 26px;
}
.heart-like-button:before {
    position: absolute;
    top: 0;
    left: 16px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 15px;
    height: 25px;
    border-radius: 40px 40px 0 0;
    background-color: grey;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 16px;
    height: 25px;
    border-radius: 40px 40px 0 0;
    background-color: grey;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
    background-color: #d65076;
}
.heart-like-button.liked {
    animation: liked .4s ease;
}
@keyframes liked {
    0% {
    transform: scale(.8);
}
    50% {
    transform: scale(1.1);
}
    100% {
    transform: scale(1);
}
}


/* col-3 */
.col-3 .details {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.col-3 .details a {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: .5rem;
    border-bottom: 2px solid white;
    color: darkgrey;
}

.col-3 .details a:hover {
    color: black;
    cursor: pointer;
    border-bottom: 2px solid red;

}

.col-3 .details a:active {
    color: black;
    cursor: pointer;
    border-bottom: 2px solid red;
}

.col-3 iframe, #calendar {
    width: 350px;
    height: 200px;
    border-radius: 30px;
}
