<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Manjari:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="https://cdn.ayroui.com/1.0/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
<!--  Barra de navegación -->
<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo"><a href="./index.html"> Guarará</a></div>
    <ul class="links">
        <li class="profesores"><a href="/template/teachers-list.html">Profesores</a></li>
        <li class="seprofesor"><a href="/template/teacher-application.html">Sé profesor</a></li>
        <li class="comunidad"><a href="./comunidad.html">Comunidad</a></li>
        <li class="recursos"><a href="./recursos.html">Recursos</a></li>
        <span class="iniciarsesion"><li><a href="./inicio_registro.html">Iniciar sesión</a></li></span>
        <span class="registrarse"><li><a href="./inicio_registro.html">Registrarse</a></li></span>
    </ul> 

    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
