<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@700&family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../statics/styles.css">
    <link rel="stylesheet" href="../statics/recursos.css">

</head>
<body>
<!--  Barra de navegación -->
<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo"> <a href="./index.html"> Guarará</a></div>
    <ul class="links">
        <li class="profesores"><a href="#">Profesores</a></li>
        <li class="seprofesor"><a href="#">Sé profesor</a></li>
        <li class="comunidad"><a href="./comunidad.html">Comunidad</a></li>
        <li class="recursos"><a href="./recursos.html">Recursos</a></li>
        <span class="iniciarsesion"><li><a href="./inicio_registro.html">Iniciar sesión</a></li></span>
        <span class="registrarse"><li><a href="./inicio_registro.html">Registrarse</a></li></span>
    </ul> 

    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>

<!-- Títulos -->
<div class="titulo">
    <h1>Recursos</h1>
</div>
<div class="parrafo">
    <p>Saber en dónde encontrar recursos puede ser una tarea muy agotadora. Es por eso que reunimos los mejores materiales para cada habilidad necesaria para aprender un idioma.</p>
</div>

<ul class="tituloslinks">
    <li class="links"><a href="#">Todos los recursos</a> </li>
    <li class="links"><a href="#">Audios</a> </li>
    <li class="links"><a href="#">Textos</a> </li>
    <li class="links"><a href="#">Videos</a> </li>
</ul>
<br>
<div class="overlay">
    <main class="grid">
        <a href="https://www.youtube.com/watch?v=7UU5LdijGQg" target="_blank" rel="noopener noreferrer"><img src="../statics/images/audio.png" alt=""></a>
        <a href="https://gn.wikipedia.org/wiki/Ape" target="_blank" rel="noopener noreferrer"><img src="../statics/images/compu.png" alt=""></a>
        <a href="https://www.youtube.com/watch?v=8hU8YCaxCgM&t=5s" target="_blank" rel="noopener noreferrer"><img src="../statics/images/computadora.png" alt=""></a>
        <a href="https://www.staff.uni-mainz.de/lustig/guarani/karau.htm" target="_blank" rel="noopener noreferrer"><img src="../statics/images/lectura.png" alt=""></a>
        <a href="https://addons.mozilla.org/es/firefox/addon/guarani-paraguay-language-pack/" target="_blank" rel="noopener noreferrer"><img src="../statics/images/tecnologia.png" alt=""></a>
        <a href="https://www.youtube.com/watch?v=d2wW47M4alA" target="_blank" rel="noopener noreferrer"><img src="../statics/images/videos.png" alt=""></a>
    </main>
</div>

</body>
</html>