<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./statics/teachers-list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Poppins:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Profesores particulares de Guaraní</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo"><a href="./index.html"> Guarará</a></div>
            <ul class="links">
                <li class="profesores"><a href="/Teachers-list.html">Profesores</a></li>
                <li class="seprofesor"><a href="/Teacher-application.html">Sé profesor</a></li>
                <li class="comunidad"><a href="./comunidad.html">Comunidad</a></li>
                <li class="recursos"><a href="./recursos.html">Recursos</a></li>
                <span class="iniciarsesion"><li><a href="#">Iniciar sesión</a></li></span>
                <span class="registrarse"><li><a href="#">Registrarse</a></li></span>
            </ul> 
        
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <div class="title">
            <h2 class="title" >Encontrá al mejor tutor para vos<span class="title__quantity">343 profesores</span></h2>
            <p class="text">Encontrá al mejor tutor en línea para vos: elegí entre nuestros profesores de Guaraní con experiencia y disfrutá del mejor proceso de aprendizaje.</p>
        </div>
        <!-- Tarjeta -->
        <article class="card">
                <!-- Col 1 -->
                <section class="col-1">
                    <img src="/src/img/profile-pic.jpg" alt="">
                    <span>Nueva</span>
                    <a href="/Teacher-profile.html">Reserva</a>
                </section>
                <!-- Col 2 -->
                <section class="col-2-grid">
                    <div class="col-2">
                        <div class="teacher-info">
                            <h2>Rachel</h2>
                            <p>Profesora Certificada. Ofrezco clases de conversación y gramática en general para alumnos de nivel medio.</p>
                            <h5>Profesora Profesional</h5>
                        </div>
                        <div class="divider"></div>
                        <h5 class="lang-title">Habla</h5>
                        <div class="idiomas">
                            <div class="lang lang-1">
                                <h4>Inglés</h4>
                                <div class="niveles">
                                    <div class="level level-1"></div>
                                    <div class="level level-2"></div>
                                    <div class="level level-3"></div>
                                    <div class="level level-4"></div>
                                    <div class="level level-5"></div>
                                </div>
                            </div>
                            <div class="lang lang-2">
                                <h4>Español</h4>
                                <div class="niveles">
                                    <div class="level level-1"></div>
                                    <div class="level level-2"></div>
                                    <div class="level level-3"></div>
                                    <div class="level level-4"></div>
                                    <div class="level level-5"></div>
                                </div>
                            </div>
                            <div class="lang lang-3">
                                <h4>Guaraní</h4>
                                <div class="niveles">
                                    <div class="level level-1"></div>
                                    <div class="level level-2"></div>
                                    <div class="level level-3"></div>
                                    <div class="level level-4"></div>
                                    <div class="level level-5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="costos">
                            <h5>Prueba de 30 min</h5>
                            <h4>Gs. 10.000</h4>
                            <h5>Precio por hora</h5>
                            <h4>Gs. 30.000</h4>
                        </div>
                    </div>
                    <div id="container">
                        <div class="heart-like-button"></div>
                    </div>
                </section>
                <!-- Col 3 -->
                <section class="col-3">
                    <div class="details">
                        <a class="tablinks" href="#">Video</a>
                        <a class="tablinks" href="#">Presentación</a>
                        <a class="tablinks" href="#">Calendario</a>
                    </div>
                    <div id="video" class="tabcontent">
                        <iframe width="350" height="200"
                            src="https://www.youtube.com/embed/8hU8YCaxCgM">
                        </iframe>
                    </div>
                </section>
        </article>
        <!-- Tarjeta -->
        <article class="card">
            <!-- Col 1 -->
            <section class="col-1">
                <img src="/src/img/profile-pic.jpg" alt="">
                <span>Nueva</span>
                <a href="/Teacher-profile.html">Reserva</a>
            </section>
            <!-- Col 2 -->
            <section class="col-2-grid">
                <div class="col-2">
                    <div class="teacher-info">
                        <h2>Rachel</h2>
                        <p>Profesora Certificada. Ofrezco clases de conversación y gramática en general para alumnos de nivel medio.</p>
                        <h5>Tutora de la comunidad</h5>
                    </div>
                    <div class="divider"></div>
                    <h5 class="lang-title">Habla</h5>
                    <div class="idiomas">
                        <div class="lang lang-1">
                            <h4>Inglés</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-2">
                            <h4>Español</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-3">
                            <h4>Guaraní</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="costos">
                        <h5>Prueba de 30 min</h5>
                        <h4>Gs. 10.000</h4>
                        <h5>Precio por hora</h5>
                        <h4>Gs. 30.000</h4>
                    </div>
                </div>
                <div id="container">
                    <div class="heart-like-button"></div>
                </div>
            </section>
            <!-- Col 3 -->
            <section class="col-3">
                <div class="details">
                    <a class="tablinks" href="#">Video</a>
                    <a class="tablinks" href="#">Presentación</a>
                    <a class="tablinks" href="#">Calendario</a>
                </div>
                <div id="video" class="tabcontent">
                    <iframe width="350" height="200"
                        src="https://www.youtube.com/embed/8hU8YCaxCgM">
                    </iframe>
                </div>
            </section>
        </article>
        <!-- Tarjeta -->
        <article class="card">
            <!-- Col 1 -->
            <section class="col-1">
                <img src="/src/img/profile-pic.jpg" alt="">
                <span>Nueva</span>
                <a href="/Teacher-profile.html">Reserva</a>
            </section>
            <!-- Col 2 -->
            <section class="col-2-grid">
                <div class="col-2">
                    <div class="teacher-info">
                        <h2>Rachel</h2>
                        <p>Profesora Certificada. Ofrezco clases de conversación y gramática en general para alumnos de nivel medio.</p>
                        <h5>Profesora Profesional</h5>
                    </div>
                    <div class="divider"></div>
                    <h5 class="lang-title">Habla</h5>
                    <div class="idiomas">
                        <div class="lang lang-1">
                            <h4>Inglés</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-2">
                            <h4>Español</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-3">
                            <h4>Guaraní</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="costos">
                        <h5>Prueba de 30 min</h5>
                        <h4>Gs. 10.000</h4>
                        <h5>Precio por hora</h5>
                        <h4>Gs. 30.000</h4>
                    </div>
                </div>
                <div id="container">
                    <div class="heart-like-button"></div>
                </div>
            </section>
            <!-- Col 3 -->
            <section class="col-3">
                <div class="details">
                    <a class="tablinks" href="#">Video</a>
                    <a class="tablinks" href="#">Presentación</a>
                    <a class="tablinks" href="#">Calendario</a>
                </div>
                <div id="video" class="tabcontent">
                    <iframe width="350" height="200"
                        src="https://www.youtube.com/embed/8hU8YCaxCgM">
                    </iframe>
                </div>
            </section>
        </article>
        <!-- Tarjeta -->
        <article class="card">
            <!-- Col 1 -->
            <section class="col-1">
                <img src="/src/img/profile-pic.jpg" alt="">
                <span>Nueva</span>
                <a href="/Teacher-profile.html">Reserva</a>
            </section>
            <!-- Col 2 -->
            <section class="col-2-grid">
                <div class="col-2">
                    <div class="teacher-info">
                        <h2>Rachel</h2>
                        <p>Profesora Certificada. Ofrezco clases de conversación y gramática en general para alumnos de nivel medio.</p>
                        <h5>Tutora de la comunidad</h5>
                    </div>
                    <div class="divider"></div>
                    <h5 class="lang-title">Habla</h5>
                    <div class="idiomas">
                        <div class="lang lang-1">
                            <h4>Inglés</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-2">
                            <h4>Español</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-3">
                            <h4>Guaraní</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="costos">
                        <h5>Prueba de 30 min</h5>
                        <h4>Gs. 10.000</h4>
                        <h5>Precio por hora</h5>
                        <h4>Gs. 30.000</h4>
                    </div>
                </div>
                <div id="container">
                    <div class="heart-like-button"></div>
                </div>
            </section>
            <!-- Col 3 -->
            <section class="col-3">
                <div class="details">
                    <a class="tablinks" href="#">Video</a>
                    <a class="tablinks" href="#">Presentación</a>
                    <a class="tablinks" href="#">Calendario</a>
                </div>
                <div id="video" class="tabcontent">
                    <iframe width="350" height="200"
                        src="https://www.youtube.com/embed/8hU8YCaxCgM">
                    </iframe>
                </div>
            </section>
        </article>
        <!-- Tarjeta -->
        <article class="card">
            <!-- Col 1 -->
            <section class="col-1">
                <img src="/src/img/profile-pic.jpg" alt="">
                <span>Nueva</span>
                <a href="/Teacher-profile.html">Reserva</a>
            </section>
            <!-- Col 2 -->
            <section class="col-2-grid">
                <div class="col-2">
                    <div class="teacher-info">
                        <h2>Rachel</h2>
                        <p>Profesora Certificada. Ofrezco clases de conversación y gramática en general para alumnos de nivel medio.</p>
                        <h5>Profesora Profesional</h5>
                    </div>
                    <div class="divider"></div>
                    <h5 class="lang-title">Habla</h5>
                    <div class="idiomas">
                        <div class="lang lang-1">
                            <h4>Inglés</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-2">
                            <h4>Español</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                        <div class="lang lang-3">
                            <h4>Guaraní</h4>
                            <div class="niveles">
                                <div class="level level-1"></div>
                                <div class="level level-2"></div>
                                <div class="level level-3"></div>
                                <div class="level level-4"></div>
                                <div class="level level-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="costos">
                        <h5>Prueba de 30 min</h5>
                        <h4>Gs. 10.000</h4>
                        <h5>Precio por hora</h5>
                        <h4>Gs. 30.000</h4>
                    </div>
                </div>
                <div id="container">
                    <div class="heart-like-button"></div>
                </div>
            </section>
            <!-- Col 3 -->
            <section class="col-3">
                <div class="details">
                    <a class="tablinks" href="#">Video</a>
                    <a class="tablinks" href="#">Presentación</a>
                    <a class="tablinks" href="#">Calendario</a>
                </div>
                <div id="video" class="tabcontent">
                    <iframe width="350" height="200"
                        src="https://www.youtube.com/embed/8hU8YCaxCgM">
                    </iframe>
                </div>
            </section>
        </article>
    </main>
</body>
</html>