<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/teacher-application.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Poppins:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>¡Aplica para enseñar en la plataforma!</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo"><a href="./index.html"> Guarará</a></div>
            <ul class="links">
                <li class="profesores"><a href="/template/teachers-list.html">Profesores</a></li>
                <li class="seprofesor"><a href="/template/teacher-application.html">Sé profesor</a></li>
                <li class="comunidad"><a href="./comunidad.html">Comunidad</a></li>
                <li class="recursos"><a href="./recursos.html">Recursos</a></li>
                <span class="iniciarsesion"><li><a href="./inicio_registro.html">Iniciar sesión</a></li></span>
                <span class="registrarse"><li><a href="./inicio_registro.html">Registrarse</a></li></span>
            </ul> 
        
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
    </header>
    <main>
        <!-- Contenedor de todo el contenido de la pag -->
        <section class="container">
            <!-- Contenedor del titulo principal de la pag -->
            <div class="main-title">
                <h1 class="main-title__title">Antes de empezar</h1>
                <p class="main-title__text"> 
                    Consulta la siguiente información. Te recomendamos que leas todo detenidamente. 
                    <br> Cuando tengas todas las respuestas y el material necesarios, puedes comenzar la solicitud.
                </p>
            </div>
            <!-- Contenedor de las cartas -->
            <div class="cards">
                <!-- Card 1 - Vacantes -->
                <article class="card">
                    <div class="card__icon icon-list"></div>
                    <h2 class="card__title">¿Hay vacantes para enseñar?</h2>
                    <div class="card__text-container">
                        <p class="card__text">
                            Antes de comenzar tu solicitud, comprobá si hay vacantes para el rol que querés aplicar.
                        </p>
                    </div>
                    <button class="btn">Ver Lista</button>
                </article>
                <!-- Card 2 - Tipo de profesor-->
                <article class="card">
                    <div class="card__icon icon-hat"></div>
                    <h2 class="card__title">¿Qué tipo de profesor sos?</h2>
                    <div class="card__text-container">
                        <p class="card__text">
                            En Guarara podés convertirte en Profesor profesional o en Tutor de la comunidad.
                            Descubrí una solución que se adapte a tus necesidades.
                        </p>
                    </div>
                    <button class="btn">Más información</button>
                </article>
                <!-- Card 3 - Video -->
                <article class="card">
                    <div class="card__icon icon-youtube"></div>
                    <h2 class="card__title">Prepará un video de presentación</h2>
                    <div class="card__text-container">
                        <p class="card__text">
                            Guarara exige que tengas un video de presentación.
                            En este video podés mostrar a los posibles estudiantes tu personalidad y método de docencia. 
                        </p>
                    </div>
                    <button class="btn">Normas del video</button>
                </article>
                <!-- Card 4 - Certificaciones -->
                <article class="card">
                    <div class="card__icon icon-certificate"></div>
                    <h2 class="card__title">Certificaciones docentes</h2>
                    <div class="card__text-container">
                        <p class="card__text">
                            Guarara solo exige que los profesores profesionales carguen sus certificaciones docentes.
                            Tus diplomas y certificados no se publican.
                        </p>
                    </div>
                    <button class="btn">Más información</button>
                </article>
            </div>
            <button class="main__btn">Iniciar Solicitud</button>
        </section>
    </main>
</body>
</html>