<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/teacher-profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Poppins:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Perfil de Profesor</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo"><a href="./index.html"> Guarará</a></div>
            <ul class="links">
                <li class="profesores"><a href="Teachers-list.html">Profesores</a></li>
                <li class="seprofesor"><a href="Teacher-application.html">Sé profesor</a></li>
                <li class="comunidad"><a href="./comunidad.html">Comunidad</a></li>
                <li class="recursos"><a href="./recursos.html">Recursos</a></li>
                <span class="iniciarsesion"><li><a href="#">Iniciar sesión</a></li></span>
                <span class="registrarse"><li><a href="#">Registrarse</a></li></span>
            </ul> 
        
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
    </header>
    <!-- Main -->
    <main class="container">
        <!-- Inicio seccion main-content -->
        <section class="main-content">
            <section class="intro">
                <iframe class="intro__video"
                    src="https://www.youtube.com/embed/8hU8YCaxCgM">
                </iframe>
                <div class="intro__profile">
                    <div class="col-1">
                        <img class="intro__profile__img" src="/src/img/profile-pic.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <h2 class="intro__profile__name">Rachel</h2>
                        <p class="intro__profile__description">Profesora Certificada. Ofrezco clases de conversación y gramática en general para alumnos de nivel medio.</p>
                        <h5 class="intro__profile__role">Profesora profesional</h5>
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="about__title-1__container">
                    <h2 class="about__title">Acerca de mí</h2>
                    <p class="about__member-since">Profesora de Guarara desde 1 de mayo de 2022</p>
                </div>
                <p class="about__text">
                    Soy profesora certificada con más de 20 años de experiencia enseñando Guaraní. Soy originaria de Capiatá, me gusta viajar, cocinar, escuchar música y por sobre todo, me encanta enseñar. Descubrí mi pasión por la enseñanza en el colegio, en donde formaba y dirigía grupos de estudios del idioma Guaraní. 
                </p>
            </section>
            <!-- Inicio seccion kind of classes -->
            <section class="kind-of-classes">
                <h2 class="classes-title">Clases</h2>
                <div class="clases-container">
                    <!-- Clase 1 -->
                    <article class="class">
                        <a href="" class="class__link">
                            <div class="class__col-1">
                                <h5 class="class__name">Clase de prueba</h5>
                                <div class="class__divider"></div>
                                <p class="class__quantity">16 clases</p>
                            </div>
                            <div class="class__col-2">
                                <span class="class__price">Gs. 10.000</span>
                            </div>
                        </a>
                    </article>
                    <!-- Clase 2 -->
                    <article class="class">
                        <a href="" class="class__link">
                            <div class="class__col-1">
                                <h5 class="class__name">Práctica de conversación</h5>
                                <div class="class__divider"></div>
                                <p class="class__quantity">24 clases</p>
                            </div>
                            <div class="class__col-2">
                                <span class="class__price">Gs. 30.000</span>
                            </div>
                        </a>
                    </article>
                    <!-- Clase 3 -->
                    <article class="class">
                        <a href="" class="class__link">
                            <div class="class__col-1">
                                <h5 class="class__name">Clase de escritura</h5>
                                <div class="class__divider"></div>
                                <p class="class__quantity">9 clases</p>
                            </div>
                            <div class="class__col-2">
                                <span class="class__price">Gs. 20.000</span>
                            </div>
                        </a>
                    </article>
                </div>
            <!-- Inicio seccion opiniones -->
            </section>
            <section class="opinions">
                <h2>Opiniones</h2>
                <div class="opinions-container">
                    <!-- Opinion Card -->
                    <div class="opinion-card">
                        <div class="student-info">
                            <div class="student-info__img">
                                <img src="/src/img/profile-pic.jpg" alt="">
                            </div>
                            <div class="student-info-text">
                                <h5 class="student-info__name">Costanza</h5>
                                <span class="student-info__classes">17 clases de Guaraní</span>
                            </div>
                        </div>
                        <p class="opinion-card__text">Rachel es una gran e interesante profesora. Fue muy amable desde el primer minuto y se nota su pasión por la enseñanza.</p>
                        <span class="opinion-card__date">
                            27 de mayo de 2022
                        </span>
                    </div>
                    <!-- Opinion Card -->
                    <div class="opinion-card">
                        <div class="student-info">
                            <div class="student-info__img">
                                <img src="/src/img/profile-pic.jpg" alt="">
                            </div>
                            <div class="student-info-text">
                                <h5 class="student-info__name">Stefany</h5>
                                <span class="student-info__classes">48 clases de Guaraní</span>
                            </div>
                        </div>
                        <p class="opinion-card__text">De las mejores profesoras que tuve hasta ahora, le da mucha importancia a sus alumnos y siempre hace seguimientos, muy recomendada.</p>
                        <span class="opinion-card__date">
                            10 de mayo de 2022
                        </span>
                    </div>
                </div>
            </section>
        </section>
        <!-- Final seccion main content -->
        <!-- Inicio del aside -->
        <aside class="aside-content">
            <!-- Inicio de la seccion booking -->
            <section class="booking">
                <a class="booking__link" href="#">
                    <div class="booking__link__title">
                        <h2>Clase de prueba</h2>
                    </div>
                    <div class="booking__link__price">
                        <h2>Gs. 10.000</h2>
                    </div>
                </a>
                <a class="booking__link" href="#">
                    <div class="booking__link__title">
                        <h2>Clases</h2>
                    </div>
                    <div class="booking__link__price">
                        <span>DESDE</span>
                        <h2>Gs. 10.000</h2>
                    </div>
                </a>
                <button class="btn booking__book-btn">Reservar Clase</button>
                <div class="line">
                    <button class="btn booking__contact-btn">Contactar con el profesor</button>
                </div>
            </section>
            <!-- Inicio de la seccion de disponibilidad -->
            <section class="availability">
                <h2 class="availability__week">mayo 05-mayo 11</h2>
                <img class="calendar" src="/src/img/calendar.png" alt="">
                <button class="btn booking__contact-btn">Comprobar disponibilidad</button>
            </section>
        </aside>
    </main>
</body>
</html>